/* Estilos para o index.html */
body.index {
    background: linear-gradient(to bottom, #ffff00, #ffffff); /* Degrade de amarelo para branco */
    text-align: center;
}

header, nav, main, footer {
    margin: 0 auto; /* Centraliza os elementos */
    width: 80%; /* Define a largura máxima dos elementos */
}

h1, h2 {
    font-size: 30px;
    color: black;
    font-family: Arial, sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 20px;
}

footer {
    margin-top: 50px;
}

ul {
    text-align: left;
    margin-left: 0;
}

/* Estilização para parágrafos impares */
.par-impar {
    font-size: 16pt;
    font-family: Arial, sans-serif;
    color: red;
}

/* Estilização para parágrafos pares */
.par-par {
    font-size: 20pt;
    font-family: Verdana, sans-serif;
    color: blue;
}

/* Estilos para o site_interno.html */
#conteudo {
    text-align: justify;
    margin: 0 auto;
    width: 80%;
}

#conteudo p {
    margin-bottom: 20px;
}

